*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #d5a5a5;
}
.main{
    height: 100%;
    width: 100%;
}
.container{
    height: 500px;
    width: 50%;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .item{
    height: 100px;
    width: 100px;
    background-color: #0000ff;
    margin: 20px;
     display: flex;
    align-items: center;
    justify-content: center;

   
 }