*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #a32a2a;
}
#garrage {
    width: 600px;
    height: 500px;
    background-color: #f5f3f3;
    position: relative;
}
 
#car1 {
    width: 100px;
    height: 100px;
    background-color: #000;
    position: absolute;
    left: 20%;
    top: 10%;
}
 





